<body class="smoothscroll enable-animation">
<!-- wrapper -->
        
            <!-- 
                AVAILABLE HEADER CLASSES
                Default nav height: 96px
                .header-md      = 70px nav height
                .header-sm      = 60px nav height
                .b-0        = remove bottom border (only with transparent use)
                .transparent    = transparent header
                .translucent    = translucent header
                .sticky         = sticky header
                .static         = static header
                .dark           = dark header
                .bottom         = header on bottom
                
                shadow-before-1 = shadow 1 header top
                shadow-after-1  = shadow 1 header bottom
                shadow-before-2 = shadow 2 header top
                shadow-after-2  = shadow 2 header bottom
                shadow-before-3 = shadow 3 header top
                shadow-after-3  = shadow 3 header bottom
                .clearfix       = required for mobile menu, do not remove!
                Example Usage:  class="clearfix sticky header-sm transparent b-0"
            -->
            <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
                <!-- TOP NAV -->
                <header id="topNav">
                    <div class="container">
                        <!-- Mobile Menu Button -->
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- Logo -->
                        <a class="logo float-left scrollTo" href="/">
                            <img src="/assets/homePage_RocketElevatorsMainLogo.png" alt="RocketElevatorsBro" />
                        </a>
                        <!-- 
                            Top Nav 
                            
                            AVAILABLE CLASSES.:
                            submenu-dark = dark sub menu
                        -->
                        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                            <nav class="nav-main">
                                <!-- 
                                    .nav-onepage
                                    Required for onepage navigation links
                                    
                                    Add .external for an external link!
                                -->
                                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                                    <li><!-- HOME -->
                                        <a href="/">
                                            HOME
                                        </a>
                                    </li>
                                    <li><!-- SERVICES -->
                                        <a href="/#services">
                                            SERVICES
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/residential.html">Residential Services</a></li>
                                            <li><a href="/commercial.html">Commercial Services</a></li>
                                            <li><a href="/quote.html">Get a Quote</a></li>
                                        </ul>
                                    </li>
                                    <li><!-- PORTFOLIO -->
                                        <a href="/#portfolio">
                                            PORTFOLIO
                                        </a>
                                    </li>
                                    <li><!-- NEWS -->
                                        <a href="/#news">
                                            NEWS
                                        </a>
                                    </li>
                                    <li><!-- CLIENTS -->
                                        <a href="/#clients">
                                            CLIENTS
                                        </a>
                                    </li>
                                    <li><!-- CONTACT -->
                                        <a href="/#contact">
                                            CONTACT
                                        </a>
                                    </li>     
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>
                <!-- /Top Nav -->
            </div>
    
    
<section id="clients" class="alternate">
                <div class="container">
                    <div class="heading-title heading-dotted text-center">
                        <h2>Forgot your password?</h2>
                    </div>
<center>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br>
<br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
<br>
</center>
</div>
</section>             
</body>