<body class="smoothscroll enable-animation">
   
        <!-- 
                AVAILABLE HEADER CLASSES
                Default nav height: 96px
                .header-md      = 70px nav height
                .header-sm      = 60px nav height
                .b-0        = remove bottom border (only with transparent use)
                .transparent    = transparent header
                .translucent    = translucent header
                .sticky         = sticky header
                .static         = static header
                .dark           = dark header
                .bottom         = header on bottom
                
                shadow-before-1 = shadow 1 header top
                shadow-after-1  = shadow 1 header bottom
                shadow-before-2 = shadow 2 header top
                shadow-after-2  = shadow 2 header bottom
                shadow-before-3 = shadow 3 header top
                shadow-after-3  = shadow 3 header bottom
                .clearfix       = required for mobile menu, do not remove!
                Example Usage:  class="clearfix sticky header-sm transparent b-0"
            -->
        <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">
                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Logo -->
                    <a class="logo float-left scrollTo" href="/">
                        <img src="/assets/homePage_RocketElevatorsMainLogo.png" alt="RocketElevators" />
                    </a>
                    <!-- 
                            Top Nav 
                            
                            AVAILABLE CLASSES:
                            submenu-dark = dark sub menu
                        -->
                    <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                        <nav class="nav-main">
                            <!-- 
                                    .nav-onepage
                                    Required for onepage navigation links
                                    
                                    Add .external for an external link!
                                -->
                            <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                                <li>
                                    <!-- HOME -->
                                    <a href="/">
                                        HOME
                                    </a>
                                </li>
                                <li>
                                <li>
                                    <!-- SERVICES -->
                                    <a href="/#services">
                                        SERVICES
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/residential">Residential Services</a></li>
                                        <li><a href="/commercial">Commercial Services</a></li>
                                        <li><a href="/quote">Get A Quote</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <!-- PORTFOLIO -->
                                    <a href="/#portfolio">
                                        PORTFOLIO
                                    </a>
                                </li>
                                <li>
                                    <!-- NEWS -->
                                    <a href="/#news">
                                        NEWS
                                    </a>
                                </li>
                                <li>
                                    <!-- CLIENTS -->
                                    <a href="/#clients">
                                        CLIENTS
                                    </a>
                                </li>
                                <li>
                                    <!-- CONTACT -->
                                    <a href="/#contact">
                                        CONTACT
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- /Top Nav -->
        </div>
<section >
        <div class="container">
            <div class="heading-title heading-dotted text-center">
                <h2>Login</h2>
            </div>
        <div class="mb-20 box-border-shadow p-20">
<center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</center>
</div>
</section>
 </div>

                
            
</body>